<div class="row">

  <div class="col-lg-5 col-12 mr-md-auto mr-0">
    <h2>
      Cadastro de novo voluntário
    </h2>
    <div>
      <p>Cadastra-se e faça a diferença na vida de alguém. Juntos podemos mudar a realidade social da nossa cidade, através de um ato de amor.
      <p>Ser voluntário é dedicar parte do seu tempo em prol da solidariedade. Venha fazer parte desta ação transformadora.
      <p>Entraremos em contato ao encontrar algo do seu interesse.
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <app-form></app-form>
  </div>

</div>