<h2 class="text mb-4">
  Voluntários Cadastrados
</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col">Whatsapp</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let volunteer of volunteers$ | async">
      <th scope="row">{{ volunteer?.name }}</th>
      <td>{{ volunteer?.email }}</td>
      <td>{{ volunteer?.phone | mask: '(00) 00000-0000'}}</td>
      <td>{{ volunteer?.whatsapp | mask: '(00) 0000-0000'}}</td>
      <td>
        <div>
          <a type="button" (click)="openEditModal(volunteer.id)">
            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
          </a>
          <a type="button" class="ml-2" (click)="removeVolunteer(volunteer)">
            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>

