<form [formGroup]="form">
  <div class="form-group">
    <input formControlName="name" type="text" name="name" placeholder="Nome" class="form-control">
  </div>
  <div class="form-group">
    <input formControlName="email" type="email" name="email" placeholder="E-mail" class="form-control">
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <input formControlName="phone" mask="(00) 00000-0000" type="tel" name="phone" placeholder="Telefone" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <input formControlName="whatsapp" mask="(00) 0000-0000" type="tel" name="whatsapp" placeholder="Whatsapp" class="form-control">
    </div>
  </div>

  <h6>Interesses</h6>

  <div class="card-wrapper">
    <div class="card-items row">
      <div class="card-item">
        <div class="card-image">
          <img class="icon-blue" src="assets/icon-ball_73x70.png">
        </div>
        <div class="card-text">
          Esportes
        </div>
      </div>
      <div class="card-item active">
        <div class="card-image">
          <img class="icon-blue" src="assets/icon-ball_73x70.png">
        </div>
        <div class="card-text">
          Esportes
        </div>
      </div>
      <div class="card-item">
        <div class="card-image">
          <img class="icon-blue" src="assets/icon-ball_73x70.png">
        </div>
        <div class="card-text">
          Esportes
        </div>
      </div>
      <div class="card-item">
        <div class="card-image">
          <img class="icon-blue" src="assets/icon-ball_73x70.png">
        </div>
        <div class="card-text">
          Esportes
        </div>
      </div>
      <div class="card-item active">
        <div class="card-image">
          <img class="icon-blue" src="assets/icon-ball_73x70.png">
        </div>
        <div class="card-text">
          Esportes
        </div>
      </div>
      <div class="card-item">
        <div class="card-image">
          <img class="icon-blue" src="assets/icon-ball_73x70.png">
        </div>
        <div class="card-text">
          Esportes
        </div>
      </div>
    </div>

  </div>

  <button (click)="saveVolunteer()" class="btn button-primary col-12 ml-auto mt-3">Cadastrar</button>

</form>