/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@700&display=swap');
@import './assets/scss/variables';

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  .btn {
    height: 50px;
    border-radius: 25px;
    border: none;
    transition: all 400ms;

    &:hover {
      color: $text-color;
      filter: brightness(0.95);
      transform: scale(1.1);
    }
  
    &:focus {
      box-shadow: none;
      filter: brightness(0.9);
    }
  }

  .btn, h2, h6 {
    font-family: 'Ubuntu', sans-serif;
  }

  p {
    line-height: 2em;
    font-size: 1.1em;
    text-indent: 1.4em;
  }

  p, .nav-link, h2, h6 {
    color: $primary-color;
  }
 
  .button-primary {
    background-color: $secundary-color;
    color: $text-color;
  }

  .form-control {
    border-color: $primary-color;
  }

  // .form-control:focus {
  //   box-shadow: none;
  //   border-color: red; // just test TODO: remove
  // }
}

